// Place all the styles related to the deliverables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.deliverable-header {
  display: inline-block;
  font-family: 'Oswald', sans-serif;

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
    font-family: 'Oswald', sans-serif;
  } 
  p, .p{
  font-style: Georgia, Times, "Times New Roman", serif;
  }
}