// Place all the styles related to the staffpicks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pick {
  display: inline-block;
  font-size: 14px;
  width: 200px;

 .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a{
    font-family: 'Oswald', sans-serif;
  }   
  p, .p{
  font-style: 'Georgia', serif;
  }
}