// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  padding: 0 0 80px 0;
}

#temp {
  width: 200px;
}

.hide_admin{
  display:block;
  width: 40%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, .h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
    font-family: 'Oswald', sans-serif;
  } 
p, .p{
  font-style: 'Georgia', serif;
}
.student {
  display: inline-block;
}

.radio { 
  display: inline-block;
}

.admin-container{
  justify-content: center;
  align-items: center;
  width: 100%;
}

.format-admin{
  display:flex;
}

.student-box {
  padding: 0 20px 0 0;
  display:flex;
  flex-direction:row;
  width: 10%;
  float: left;
  align-items: center;
}

.admin-box {
  padding: 0 20px 0 0;
  display:flex;
  flex-direction:row;
  width: 10%;
  float: left;
  align-items: center;
}